{% extends "layout.html" %}
{% block title %}
    Add New Student
{% endblock %}
{% block content %}
        <form action="{{url_for('addrec')}}" method="post">
            <h3>Please Add the New Student Information:</h3>
            Name
            <br>
            <input required type="text" name="nm" /><br>

            Address
            <br>
            <textarea required name="add"></textarea><br>

            City
            <br>
            <input required type="text" name="city" /><br>

            Zip Code
            <br>
            <input required type="text" name="zip" /><br>

            <button type="submit">Submit</button>
            <br>
        </form>
{% endblock %}